{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Go Links</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZZQVR1JSYM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ZZQVR1JSYM');
    </script>
</head>

<body>
    <header>
        <h1><a href='/'>Go Links</a></h1>
    </header>
    <!-- Invoke the navigation template -->
    {{template "nav" .}}
    <main>
        {{template "main" .}}
    </main>
</body>

</html>
{{end}}